schema.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="root"><xs:complexType><xs:sequence><xs:element name="item" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="Date" type="xs:string" minOccurs="0" /><xs:element name="Day" type="xs:integer" minOccurs="0" /><xs:element name="Month" type="xs:string" minOccurs="0" /><xs:element name="Year" type="xs:integer" minOccurs="0" /><xs:element name="Customer_Age" type="xs:integer" minOccurs="0" /><xs:element name="Age_Group" type="xs:string" minOccurs="0" /><xs:element name="Customer_Gender" type="xs:string" minOccurs="0" /><xs:element name="Country" type="xs:string" minOccurs="0" /><xs:element name="State" type="xs:string" minOccurs="0" /><xs:element name="Product_Category" type="xs:string" minOccurs="0" /><xs:element name="Sub_Category" type="xs:string" minOccurs="0" /><xs:element name="Product" type="xs:string" minOccurs="0" /><xs:element name="Order_Quantity" type="xs:integer" minOccurs="0" /><xs:element name="Unit_Cost" type="xs:integer" minOccurs="0" /><xs:element name="Unit_Price" type="xs:integer" minOccurs="0" /><xs:element name="Profit" type="xs:integer" minOccurs="0" /><xs:element name="Cost" type="xs:integer" minOccurs="0" /><xs:element name="Revenue" type="xs:integer" minOccurs="0" /><xs:element name="longitude" type="xs:decimal" minOccurs="0" /><xs:element name="latitude" type="xs:decimal" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>